@media (min-width: 980px) {
  /* line 16, ../sass/commons/_base.scss */
  body {
    padding-top: 60px;
  }
}
/* line 22, ../sass/commons/_base.scss */
.admin-nav,
.admin-container {
  float: right;
}

/* line 21, ../sass/commons/_side-nav.scss */
.nav-stacked .badge,
.nav-stacked .label {
  float: left;
}

/* line 26, ../sass/commons/_side-nav.scss */
.sidebar-nav-fixed {
  padding: 9px 0;
  position: fixed;
  left: 20px;
  top: 60px;
  width: 250px;
}

/* line 34, ../sass/commons/_side-nav.scss */
.content-fixed-sidebar {
  margin-left: 290px;
}

@media only screen and (max-width: 980px) {
  /* line 42, ../sass/commons/_side-nav.scss */
  .nav-off-canvas {
    display: none;
  }

  /* line 46, ../sass/commons/_side-nav.scss */
  .navbar .btn-off-canvas {
    float: right;
  }

  /* line 50, ../sass/commons/_side-nav.scss */
  .content-off-canvas {
    width: 100%;
    margin-right: 0;
  }
}
/* line 19, ../sass/components/_chart-js.scss */
.chart-js {
  width: 100% !important;
  height: auto !important;
  max-width: 800px;
}

/* line 22, ../sass/components/_morris-js.scss */
.class-name {
  property: value;
}

/* line 27, ../sass/components/_morris-js.scss */
#idName {
  property: value;
}
