// ------------------------------
// Chart.js customizations
// ------------------------------
// author : anas.nakawa@gmail.com
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// some title
//  - sub title
//  - sub title 2
// some mixin
// ------------------------------


// responsiveness
// ------------------------------
.chart-js {
  width: 100% !important;
  height: auto !important;
  max-width: 800px;
}