// ------------------------------
// side navigation
// ------------------------------
// author : anas.nakawa@gmail.com
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// some title
//  - sub title
//  - sub title 2
// some mixin
// ------------------------------


// some title
// ------------------------------
.nav-stacked {
  .badge,
  .label {
    @include float( right );
  }
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 290px;
}