// ------------------------------
// side navigation
// ------------------------------
// author : anas.nakawa@gmail.com
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// some title
//  - sub title
//  - sub title 2
// some mixin
// ------------------------------


// some title
// ------------------------------
.nav-stacked {
  .badge,
  .label {
    @include float( right );
  }
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

.content-fixed-sidebar {
    margin-left: 290px;
}

@include tablet-and-below {
  
  // default mode
  // hide sidebar
  .nav-off-canvas {
    display: none;
  }
  
  .navbar .btn-off-canvas {
    @include float( left );
  }
  
  .content-off-canvas {
    width: 100%;
    @include margin-left( 0 );
  }
}
